/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #808080;
  transition: color ease-in 150ms;
}

.main-content {
  position: relative;
  top: 64px;
}

.information-box {
  overflow: hidden;
}

.center {
  text-align: center;
}

.center h2 {
  display: inline;
}

/* Navigation */

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  z-index: 10; /* specifies the stack order of an element */
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.desktop {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
}

header nav li {
  list-style: none;
  padding-left: 1rem;
}

img .logo {
  size: 32px;
}

a .logo-text {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: gray;
}

a .logo-text .colmar {
  color: black;
}

@media only screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}


/* MAIN CONTENT */

.banner-section {
  display: flex;
  padding: 2rem 1.5rem;
  background-color: #cfcfcf;
}

.banner-image {
  max-width: 60%;
}

.banner-image img {
  width: 100%;
  height: auto;
}
.banner-content {
  padding: 0 1.5rem;
  margin: auto; /* the same as align-self: center; */
}

.banner-content h1 {
  display: inline;
}

.button {
  padding: 0.5rem;
  background-color: #303030;
}

.button p {
  text-align: center;
  line-height: 0;
}

.button-link {
  color: white;
}

/* MIDDLE CONTENT */

.middle-banner {
  display: flex;
  padding: 2rem 0 0 1.5rem;
}

.middle-banner-information {
  padding-right: 1.5rem;
  width: 60%;
  border-right: 1px solid #cfcfcf ;
}

.middle-banner-information img {
  max-width: 100%;
  height: auto;
  padding-bottom: 2rem
}

.middle-banner-information h2 {
  display: inline;
  font-size: 1.3rem;
}

.middle-banner-content {
  padding-top: 0.5rem;
  display: inline-block;
}

.middle-banner-credit {
  font-size: 0.6rem ;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.information-container {
  width: 40%;
}

.information-box {
  display: flex;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.content-image img {
  max-width: 100%;
  height: auto;
}

.content-text {
  padding: 0 1rem;
}

.content-text p {
  font-size: 0.9rem;
}

.content-text h4 {
  display: inline;
}

.content-text a {
  color: rgb(77, 77, 255);
}

.content-text a:hover {
  color: #000;
  transition: color ease-in 500ms;
}

.guest-information-box {
  display: flex;
  padding: 1rem 0 1rem 1.5rem;
  background-color: #cfcfcf ;
  margin-bottom: 1rem;
}

.content-image {
  max-width: 35%;
}

.guest-information-box img {
  max-width: 100%;
  height: auto;
}

.content-image-mobile {
  display: none;
}

#content-image {
  max-width: 100%;
}


/* COURSES */

.courses {
  padding: 32px 72px;
  background-color: #cfcfcf;
}

.courses-tittle {
  text-align: center;
}

.courses-container {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-box {
  display: block;
  width: 32%;
  background-color: #fff;
  margin-bottom: 1rem;
}

.course-box img {
  width: 100%;
}


.course-text {
  padding: 0 1rem 0.5rem 1rem ;
}

.course-text {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 481px) {

  .mobile-box {
    display: none;

  }
}

/* THESIS EXHIBIT */

.exhibit-tittle{
  text-align: center;
  padding: 32px 0;
}

.thesis-container {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
}

.video-container {
  max-width: 60%;
  padding: 0 24px 24px 24px;
}

.video-box video{
  width: 100%;
  height: auto;
}

.video-text h3 {
  margin: 24px 0 8px 0;
}

.video-text p {
  margin: 8px 0px;
  font-size: 0.75rem;
  color: #808080
}

.exhibit-container {
  max-width: 40%;
}

.exhibit-box.grey {
  background-color: #cfcfcf;
}

.exhibit-box {
  width: 100%;
  height: auto;
  display: flex;
}

.exhibit-box img {
  max-width: 35%;
  margin: 16px;
}

.exhibit-box-text {
  max-width: 65%;
}

.exhibit-box-text p {
  font-size: 0.75rem;
}


/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  font-size: 0.75rem;
  color: #808080;
}

.footer-text.right {
  display: flex;
  gap: 1rem;
  margin: 0;
}

/* MOBILE */

/* Mobile navigation */

@media only screen and (max-width: 480px) {
  body {
    margin: 0;
  }

  .desktop, .desktop a, .logo, .logo-text {
    display: none;
  }

  header .content .mobile ul {
    padding-left: 0px;
  }

  .mobile {
    width: 100%;
  }

  header nav ul {
    align-items: center;
    justify-content: space-evenly;
  }

  header nav li {
    padding: 0 1.25rem;
  }

  header .content {
    padding: 0;
  }
}




/* MOBILE Banner */

@media only screen and (max-width: 480px) {
  .banner-section {
    display: block;
    padding: 0;
  }

  .banner-image {
    max-width: 100%;
  }

  .banner-content {
    padding: 1.5rem 1rem 2rem;

  }
  
  .banner-content h2 {
    font-size: 2rem;
  }

}

/* MOBILE Middle content */

@media only screen and (max-width: 480px) {
  .middle-banner-information,
  .content-image {
    display: none;
  }

  .content-image-mobile {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .content-image-mobile img {
    max-width: 100%;
  }

  .information-container {
    width: 100%;
    display: block;
  }

  .information-box {
    flex-direction: column;
    padding-left: 0;
    margin: 0;
  }

  .middle-banner {
    padding: 16px 16px 32px 16px;
    border-bottom: 0.5px solid #cfcfcf;
  }
  .content-image-mobile {
    display: block;
    max-width: 100%;
  }

  .guest-information-box {
    padding: 0;
    flex-direction: column;
    background-color: white;
  }
}


/* MOBILE Courses content */

@media only screen and (max-width: 480px) {
  
  .courses-container {
    display: none;
  }

  .courses {
    background-color: #fff;
    padding: 32px 16px;
    border-bottom: 0.5px solid #cfcfcf;
  }

  .mobile-box {
    background-color: #cfcfcf;
    padding: 8px;
    margin-bottom: 8px;
  }

  .mobile-box p {
    font-size: 1.25rem;
    font-weight: 700;
    
  }
}


/* MOBILE THESIS Exhibits */

@media only screen and (max-width: 480px) {

  .exhibit-box,
  .video-text,
  .footer-text.right {
    display: none;
  }

  .exhibit-tittle {
    padding: 0;
  }

  .exhibit-tittle h2 {
    margin: 0;
    padding: 1rem 0 0.5rem 0;
  }

  .video-container {
    max-width: 100%;
    padding: 0%;
  }

  .footer {
    margin: 12px 0 0 0;
  }

  .footer-text.left {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1.25rem 0;
  }

}